:root {
    --el_grey: #717774;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand.el_logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.el_logo span {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--el_grey);
    font-size: 14px;
    line-height: 1.2
}
.navbar-light .nav .nav-link {
    color: var(--el_grey);
}
.el_color {
    background-color: rgb(17, 144, 199);
    
}
#navigation > div > ul > .nav-item > .active {
    color: #fff;
}