:root {
    --el_grey: #717774;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand.el_logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.el_logo span {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--el_grey);
    font-size: 14px;
    line-height: 1.2
}
.navbar-light .nav .nav-link {
    color: var(--el_grey);
}
.el_color {
    background-color: rgb(17, 144, 199);
    
}
#navigation > div > ul > .nav-item > .active {
    color: #fff;
}

.section {
    margin-top: 100px;
    outline: 1px solid red;
}

/*переключалка*/
:target {
  padding-top: 65px;
    color: red;
}

/*canvas*/
.canvas {
    width: 100px;
    height: 100px;
    z-index: 2;
}
.bgcanvas {
    position: absolute;
    top: 4px;
    width: 100px;
    height: 90px;
    background-color: white;
    z-index: 1;
}
/*анимация высоты*/
.height {
    width: 1px;
    height: 0px;
    background:#2aa9e0; 
    position: absolute;
    top: 94px;
    left: 50%;
    transition: all cubic-bezier(0, 0.9, 0.88, 0.51) 2s;
}
.height.active {
    height: 456px
}